* {
    margin: 0;  padding: 0; box-sizing: border-box;
}

body {
    background-image: url('./img/pexels-sasha-martynov-1260727.jpg');
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    padding: 5px;
}

.historia h2{
    text-align: center;
    margin-top: 100px;
}

.historia p{
    text-align: justify;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

img {
    width: 80%;
}

.swiper {
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img img {
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

img :hover {
    
}

@media only screen and (max-device-width: 500px) {    
    .historia h2{
        text-align: center;
        margin-top: 450px;
    }
    
    .historia p{
        width: 100%;
    }
}
